<div class="login-section">
    <div class="login-container">
        <div class="login-upper-section">
            <span class="login-title-text">Accomodation Correction</span>
            <div class="login-field-secton"></div>
            <form>
                <div class="input-field-container">
                    <span class="input-level-text">Email address*</span>
                    <div class="password-container">
                        <input type="text" class="input-field ac-input-control"
                            placeholder="Enter your email address" />
                    </div>
                </div>

                <div class="input-field-container">
                    <span class="input-level-text">Password*</span>
                    <div class="password-container">
                        <input type="text" class="input-field ac-input-control" placeholder="Enter your password" />
                    </div>
                </div>
                
                <button class="login-button ac-primary-btn" type="button" (click)="onLogin()">Login</button>
            </form>
        </div>
    </div>
</div>