<div class="edit-page">

  <!-- HEADER -->
  <div class="visitor">
    <span class="visitor-txt">Choose Relations (Visitors)</span>
  </div>

  <!-- INFO -->
  <p class="form-header">
    Select relationship with
    <span class="active">
      {{ primaryDevotee.devoteeFirstName }}
      {{ primaryDevotee.devoteeLastName }}
    </span>
  </p>

  <!-- RELATION LIST -->
  <div class="relation-list">
    @for(member of otherMembers; track member){
    <div class="relation-row">
      <span class="common-text">
        {{ member.fullName }}
      </span>

      <select class="relation-select" [(ngModel)]="member.relationshipWithPrimaryDevotee">
        <option value="">Select relation</option>
        <option *ngFor="let r of getRelations(member)" [value]="r">
          {{ r }}
        </option>
      </select>
    </div>
    }
  </div>

  <!-- ACTIONS -->
  <div class="action-row">
    <button class="ac-secondary-btn" (click)="close()">
      Cancel
    </button>

    <button class="primary-btn" (click)="continue()">
      Continue
    </button>
  </div>

</div>