::ng-deep .mat-mdc-dialog-surface {
  background-color: var(--bg-tertiary) !important;
  border-radius: 1rem;
}

.edit-page {
  padding: 1.25rem;
  background-color: var(--bg-secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  min-width: 20rem;
}

.visitor {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.visitor-txt {
  font-family: var(--recoleta);
  font-weight: 500;
  font-size: 20px;
  color: var(--text-secondary);
  margin: 0;
}

.close {
  border-radius: 999px;
  padding: 0.62rem;
  background-color: rgba(255, 255, 255, 0.12);
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.cross-icon {
  width: 0.87rem;
  height: 0.87rem;
}

.form-header {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-tertiary);
  margin: 0;
  line-height: 1.4;
}


.active {
  color: var(--brand-primary);
  font-weight: 500;
}

.text-box-active {
    background-color: var(--bg-primary) !important;
    // width: 90%;
    border: 1px solid var(--bg-overlay);
    border-radius: 6px !important;
    color: var(--text-secondary) !important;
    padding: 10px;
}


.action-row {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.primary-btn {
  flex: 1;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0.62rem 0.75rem;
  background-color: var(--brand-primary);
  border: none;
  font-family: var(--inter);
  font-weight: 500;
  font-size: 14px;
  color: var(--bg-primary);
  cursor: pointer;
}


.ac-secondary-btn {
  flex: 1;
}


::-webkit-scrollbar {
  display: none;
}
