<div class="edit-page">
  <div class="visitor">
    <button class="close" (click)="close()">
      <img class="cross-icon" src="icons/profile-close.svg" />
    </button>
    <span class="visitor-txt">Edit Family Code</span>
  </div>

  <p class="form-header">
    Update Family Code of <span class="active">{{data.devoteeFirstName + ' ' + (data.devoteeMiddleName || '') + ' ' + data.devoteeLastName}}</span>
  </p>

  <input
    type="text"
    maxlength="12"
    class="date-inp"
    [(ngModel)]="fc"
    (input)="getWorkerDetails(fc)"
  />

  @if(isShow){
  <select
    class="date-inp"
    [(ngModel)]="selectedMemberCode"
  >
    <option
      *ngFor="let m of philanthropyMembers"
      [value]="m.memberCode"
    >
      {{ m.fullName }}
    </option>
  </select>
}

  <div class="action-row">
    <button class="ac-secondary-btn" (click)="close()">Cancel</button>
    <button class="primary-btn" [disabled]="!selectedMemberCode" (click)="continue()">Continue</button>
  </div>
</div>

