<div class="position-relative">
    <div class="sidebar">
        <div class="icon">
            <div class="sidebar-header">
                <span class="global-text">Accomodation Correction</span>
            </div>
        </div>

        <div class="side-bar-wrapper">
            <div class="tabList">
                @for(list of menuItems; track list){
                <a class="menu" [routerLink]="list.route" routerLinkActive="active">
                    <img [src]="list.icon" alt="" class="menu-icon" />
                    {{list.label}}</a>
                }
            </div>
        </div>
        <div class="footer-sidebar">
             <a class="menu">
                <img src="icons/user-line.svg" alt="" class="menu-icon" />
                {{name}}
            </a>
            <a class="menu" (click)="logOut()">
                <img src="icons/logout.svg" alt="" class="menu-icon" />
                Log out
            </a>
        </div>
        <!-- <hr> -->
    </div>

    <div class="routerBody">
        <router-outlet></router-outlet>
    </div>
</div>