.position-relative {
  display: flex;
  height: 100vh;
}

.sidebar {
  // from dp
  background-color: var(--bg-secondary);
  // height: 100%;
  max-height: 100vh;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  // gap: 2rem;
  width: 240px;
  // overflow: hidden;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

// .sidebar {
//     width: 240px;
//     padding: 20px;
//     background-color: var(--bg-secondary);
//     overflow-y: auto;
// }

.sidebar-header {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  padding: 6px 8px 6px 2px;
}

.side-bar-wrapper {
  flex-grow: 1;
  margin-top: 32px;
  margin-bottom: 20px;
  gap: 12px;
}

.tabList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--text-primary);
  font-size: 16px;
  font-family: var(--manrope);
  cursor: pointer;
  text-decoration: none;
  padding: 12px;

  .menu-icon {
    width: 30px;
    height: 30px;
  }
}

.footer-sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;
  margin-top: 0.5rem;
}

.icon {
  display: flex;
  flex-direction: column;
}

.global-text {
  font-family: var(--recoleta);
  font-weight: 500;
  font-size: 19px;
  color: var(--text-primary);
  font-family: Recoleta;
  line-height: 27.2px;
  text-align: left;
}

.side-bar-wrapper {
  flex-grow: 1;
  margin-top: 32px;
  margin-bottom: 20px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}


.routerBody {
  flex-grow: 1;
  overflow-y: auto;
  //   width: calc(100% - 250px);
}