<div class="main-container">
    <div class="title">
        <span class="title-text">Change Primary Devotee</span>
        <p class="small-title">Enter family code to proceed with the search.</p>
    </div>

    <!-- <mat-form-field class=""> -->
    <!-- <mat-select>
        <mat-option value="fc">Serach by family code</mat-option>
        <mat-option value="fc">Serach by name</mat-option>
        <mat-option value="fc">Serach by aadhar card</mat-option>
    </mat-select> -->
    <!-- </mat-form-field> -->

    <div class="searchSection">
        <form>
            <div class="searchBar">
                <input type="tel" maxlength="12" [formControl]="fc" (input)="allowNum($event)" class="searchInput ac-input-control" placeholder="Enter family code" />
                <div class="btn">
                    <button class="ac-secondary-btn" type="reset">Reset</button>
                    <button class="ac-primary-btn" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>