.main-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.small-title{
    color: var(--text-secondary);
    margin: 0px;
}

.searchInput {
    width: 100%;
    // height: 40px;
    box-sizing: border-box;
    padding: 10px 16px;
}

.searchBar{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn{
    display: flex;
    gap: 10px;
}