.title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.drop-title {
    color: var(--text-secondary);
    font-size: 16px;
    font-family: var(--manrope);
    margin: 5px;
}

.dropdown-div {
    //     --bs-gutter-x: 1.5rem;
    //     --bs-gutter-y: 0;
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin-top: calc(-1 * var(--bs-gutter-y));
    //     margin-right: calc(-.5 * var(--bs-gutter-x));
    //     margin-left: calc(-.5 * var(--bs-gutter-x));
    display: flex;
    gap: 15px;
    align-items: center;
}

.each-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter-div {
    display: flex;
    align-items: center;
    width: 46vw;
    border: 1px solid var(--bg-overlay);
    border-radius: 6px;
}

.filter-inp {
    background-color: var(--bg-primary) !important;
    height: 30px !important;
    width: 100%;
    color: var(--text-secondary) !important;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Manrope';
}




input:focus {
    outline: none;
    box-shadow: none;
}

.btn-div {
    display: flex;
    gap: 20px;
    padding: 0px 40px 40px 40px
}

.list-div {
    display: flex;
    justify-content: center;
}

.img-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-container {
    overflow-y: auto;
    height: 60vh;
    scrollbar-width: none;
}

.table .table-body tr {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.table .table-body tr:hover {
    background-color: var(--bg-overlay) !important;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
    border-left: 1px solid var(--bg-overlay);
    border-right: 1px solid var(--bg-overlay);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
}


.table-head tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

.table-head tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

.table-head tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.table-head tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

thead>tr>th {
    word-break: break-word;
    background-color: var(--bg-secondary);
    color: var(--text-tertiary) !important;
    font-family: var(--manrope);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    // min-width: 100px;
    padding: 16px;
    border-top: 1px solid var(--bg-overlay);
    border-bottom: none;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 120px;
}

tbody>tr>td {
    // background-color: var(--bg-primary);
    padding: 16px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--bg-overlay);
    word-wrap: break-word;
    font-family: var(--manrope);
    font-weight: 500;
    font-size: 16px;
    color: var(--text-secondary);
    //   cursor: pointer;
}

.address-cell {
    max-width: 220px;
    /* adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-details {
    display: flex;
    flex-wrap: wrap;
    // margin-top: 20px;
    gap: 20px;
    height: 65vh;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 40px;
}

.family-details {
    display: grid;
    // height: 40vh;
    height: fit-content;
    flex: 0 0 calc(50% - 16px);
    border-radius: 1rem;
    border: 1px solid var(--bg-tertiary);
    padding: 16px;
    gap: 16px;
    box-sizing: border-box;
}

.primary-devotee {
    display: flex;
    align-items: center;
    gap: 8px
}

.common-header {
    font-family: var(--inter);
    font-weight: 400;
    font-size: 16px;
    justify-content: space-between;
    text-align: left;
    color: var(--text-tertiary);
    margin: 0;
}


.common-text {
    font-family: var(--inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary);
    text-align: left;
}

.edit {
    height: 40px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    // width: 23.75rem;
    height: 1.06rem;

}

.line {
    width: 100%;
    border: 1px solid var(--bg-tertiary)
}

.booking-details-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 24px;
    // max-height: 45vh;
    // overflow-y: auto;
}

.details-heading {
    display: flex;
    gap: 40px
}

.booking-status {
    display: flex;
    gap: 8px;
    align-items: center;
}

.left-side-text {
    font-family: var(--inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -1.6%;
    color: var(--text-tertiary);
    width: max-content;
}

.right-side-text {
    font-family: var(--inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -1.6%;
    color: var(--text-secondary);
}

.confirmed {
    font-family: var(--inter);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125rem;
    text-align: center;
    color: var(--brand-primary);
}

.confirmed-design {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    gap: 0.25rem;
    border-radius: 0.625rem;
    border-radius: 0.625rem;
    background-color: var(--table-hover);
}

.pending {
    font-family: var(--inter);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125rem;
    text-align: center;
    color: var(--text-secondary);
}

.pending-design {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    gap: 0.25rem;
    border-radius: 0.625rem;
    border-radius: 0.625rem;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--separator)
}

.cancelled-design {
    display: flex;
    border-radius: 8px;
    background-color: var(--bg-destructive);
    padding: 4px 8px;
    align-items: center;
}

.cancelled-design span {
    font-family: var(--inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1.6%;
    text-align: center;
    color: var(--brand-destructive);
    ;
}

.time,
.date,
.checkin {
    width: max-content;
}

.check {
    display: flex;
    gap: 32px;
}

.allotment {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkin {
    font-family: var(--inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1.6%;
    color: var(--text-tertiary);
}

.date {
    font-family: var(--inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1.6%;
    color: var(--text-secondary);
}

.time {
    border-radius: 0.5rem;
    border-width: 0.0625rem;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    background-color: var(--bg-secondary);
    font-family: var(--inter);
    color: var(--brand-destructive);
    text-align: center;
    border: 1px solid var(--bg-tertiary);
}

.mem-details-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mem-text {
    font-family: var(--inter);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -1.6%;
    color: var(--text-tertiary);
}

.mem-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 38vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.acco-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--bg-overlay);
    border-radius: 10px;
    padding: 20px;
}

.acco-heading {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.acco-status {
    display: flex;
    gap: 8px;
    /* align-items: center; */
    flex-direction: column;
}

.mem-status {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.back-btn{
    display: flex;
    gap: 5px;
    align-items: center;
}