<div class="edit-page">
  <div class="top-line"></div>

  <!-- HEADER -->
  <div class="visitor">
    <span class="visitor-txt">Select Number</span>
    <button class="close" (click)="close()">
      <img class="cross-icon" src="icons/profile-close.svg" />
    </button>
  </div>

  <!-- INFO -->
  <p class="form-header">
    Please select the primary contact number
  </p>

  <!-- DROPDOWN -->
  <div class="relation-list">
    <div class="relation-row">
      <span class="common-text">
        Contact Number
      </span>
      <select class="relation-select" [(ngModel)]="selectedNumber" (ngModelChange)="onNumberChange()">
        <option value="">Select number</option>
        <option *ngFor="let num of data.contactNumbers" [value]="num">
          {{ num }}
        </option>
      </select>

    </div>
  </div>
  <p class="error-text" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

  <!-- ACTIONS -->
  <div class="action-row">
    <button class="ac-secondary-btn" (click)="close()">
      Cancel
    </button>

    <button class="primary-btn" [disabled]="isDisabled()" (click)="continue()">
      Continue
    </button>
  </div>

  <div class="down-line"></div>
</div>